.theme {
    --theme-primary: #03045e;
    --theme-secondary: #0077b6;
    --theme-tertiary: #00b4d8;
    --theme-neutral: #90e0ef;
    --theme-neutral-alt: #caf0f8;
}

.themeLight {
    --bg: #fff;
    --bg-card: #eee;
    --text-color: #000;
    --text-secondary-color: #111;
    --bg-card-hover: #ddd;
    --bg-card-border: #ccc;
    --border-color: #575757;
}

.themeDark {
    --bg: #111;
    --bg-card: #232323;
    --text-color: #fff;
    --text-secondary-color: #eee;
    --bg-card-hover: #343434;
    --bg-card-border: #464646;
    --border-color: #c2c2c2;
}
