$bg: "bg";
$bg-card: "bg-card";
$text-color: "text-color";
$text-secondary-color: "text-secondary-color";
$bg-card-hover: "bg-card-hover";
$bg-card-border: "bg-card-border";


$bg--light:#000;
$bg-card--light:#111;
$text-color--light:#fff;
$text-secondary-color--light:#eee;
$bg-card-hover--light:#222;
$bg-card-border--light:#333;

$bg--dark:#fff;
$bg-card--dark:#eee;
$text-color--dark:#000;
$text-secondary-color--dark:#111;
$bg-card-hover--dark:#ddd;
$bg-card-border--dark:#ccc;