$bg: "bg";
$bg-card: "bg-card";
$text-color: "text-color";
$text-secondary-color: "text-secondary-color";
$bg-card-hover: "bg-card-hover";
$bg-card-border: "bg-card-border";

.themeLight {
    $bg: #000;
    $bg-card: #111;
    $text-color: #fff;
    $text-secondary-color: #eee;
    $bg-card-hover: #222;
    $bg-card-border: #333;
}

.themeDark {
    $bg: #fff;
    $bg-card: #eee;
    $text-color: #000;
    $text-secondary-color: #111;
    $bg-card-hover: #ddd;
    $bg-card-border: #ccc;
}