@import "./../../sass/base/_reset.module.scss";
@import "./../../sass/abstracts/_theme-colors.module.scss";

.app {
    height: 695px;
    position: relative;

    .header {
        @include themed() {
            background: t($bg);
            color: t($text-color);
        }
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
        .heading {
            font-size: 40px;
        }
    }
    .container {
        .content {
            display: flex;
            padding: 10px;
        }
    }
}
