@import "./../../sass/base/_reset.module.scss";
@import "./../../sass/abstracts/_variables.module.scss";

.app {
    @extend 
    height: 695px;
    position: relative;

    .header {
        
        background: $bg;
        color: $text-color;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
        .heading {
            font-size: 40px;
        }
    }
    .container {
        .content {
            display: flex;
            padding: 10px;
        }
    }
}
