@import "./../../stylesheets/base/_reset.module.scss";

.app {
    height: 695px;
    position: relative;
    background-color: var(--bg);
    color: var(--text-color);

    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        box-shadow: var(--scrollbar-track); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: var(--scrollbar-thumb); 
    }

    .header {
        height: 80px;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
        // box-shadow: 0px 0px 10px 0px var(--bg);
        box-shadow: 0px 2px 4px -1px var(--bg-card-border), 0px 4px 5px 0px var(--bg-card-border), 0px 1px 10px 0px var(--bg-card-border);
        border-bottom: 1px solid var(--bg-card-border);
        .heading {
            font-size: 32px;
            font-weight: 600;
            color: var(--theme-primary);
            // text-shadow: 0 0 5px var(--text-color), 0 0 20px var(--text-color);
        }
        .toggle {
            position: absolute;
            right: 25px;
            top: 25px;
        }
    }
    .container {
        margin-top: 12px;
        .content {
            display: flex;
            padding: 10px;
        }
    }
}