.items {
    max-height: 500px;
    flex-wrap: wrap;
    display: flex;
    overflow: auto;

    .item {
        padding: 8px;
        margin: 10px;
        height: 80px;
        width: 420px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: left;
        cursor: pointer;
        background: var(--bg-card);
        border: 1px solid var(--bg-card-border);
        transition: 0.2s ease-in-out;

        .previewImage {
            width: 60px;
            height: 55px;
            border-radius: 15px;
            background: url('https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .detailsWrapper {
            width: calc(100% - 120px);
            margin-left: 5px;
            .title {
                color: var(--theme-primary);
                font-size: 18px;
            }
        }
    }
    .item:hover {
        background: var(--bg-card-hover);
        box-shadow: 2px 4px 4px 2px var(--border-color);
        transform: scale(1.02);
    }
}