.theme {
    --theme-primary: #e91e63;
    --theme-secondary: #d2222e;
}

.themeLight {
    --bg: #fff;
    --bg-card: #efe;
    --bg-card-hover: #ddd;
    --bg-card-border: #ccc;
    --text-color: rgb(110, 1, 1);
    --text-secondary-color: #111;
    --border-color: #575757;
}

.themeDark {
    --bg: #111;
    --bg-card: #232323;
    --bg-card-hover: #343434;
    --bg-card-border: #464646;
    --text-color: #fff;
    --text-secondary-color: #eee;
    --border-color: #c2c2c2;
}
