.toggle {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 45px;

    input {
        display: none;
    }

    .slider {
        background-color: #c2c2c2;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider:before {
        background-color: #fff;
        bottom: 3px;
        content: "";
        height: 19px;
        left: 3px;
        position: absolute;
        transition: 0.4s;
        width: 19px;
    }

    input:checked + .slider {
        background-color: var(--theme-primary);
    }

    input:checked + .slider:before {
        transform: translateX(20px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}
